version: '3'
services:
  teamable:
    image: 165.22.16.64:8083/teamable:1.0
    ports:
      - "3000:3000"
  mongodb:
    image: mongo
    container_name: mongodb 
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password 
    volumes:
     - mongo-data:/data/db
  mongo-express:
    image: mongo-express
    container_name: mongo-express 
    ports:
      - "8081:8081"
    restart: always
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin 
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_BASICAUTH_USERNAME: user 
      ME_CONFIG_BASICAUTH_PASSWORD: pass
      ME_CONFIG_MONGODB_SERVER: mongodb 
      ME_CONFIG_MONGODB_URL: MONGODB://MONGODB:27017
volumes:
  mongo-data:
    driver: local