img{
    width: 320px;
    display: block;
    margin-bottom: 20px;
}
div{
    width: 80%;
    margin: 40px auto;
}
hr{
    width: 400px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    width: 160px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}

input{
    width:200px;
    font-size: 15px;
    padding: 10px;
}
#edit {
    display: none;
}